<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Hpdi.Vss2Git.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Hpdi.Vss2Git.Properties.Settings>
            <setting name="VssDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="VssProject" serializeAs="String">
                <value>$</value>
            </setting>
            <setting name="VssExcludePaths" serializeAs="String">
                <value/>
            </setting>
            <setting name="GitDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultEmailDomain" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>Vss2Git.log</value>
            </setting>
            <setting name="TranscodeComments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnyCommentSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SameCommentSeconds" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ForceAnnotatedTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultComment" serializeAs="String">
                <value></value>
            </setting>
            <setting name="EmailMapFile" serializeAs="String">
                <value>emailmap.xml</value>
            </setting>
        </Hpdi.Vss2Git.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
