<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hpdi.Vss2Git.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Hpdi.Vss2Git.Properties.Settings>
            <setting name="VssDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="VssProject" serializeAs="String">
                <value>$</value>
            </setting>
            <setting name="VssExcludePaths" serializeAs="String">
                <value />
            </setting>
            <setting name="OutDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultEmailDomain" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>Vss2Git.log</value>
            </setting>
            <setting name="TranscodeComments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnyCommentSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SameCommentSeconds" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ForceAnnotatedTags" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VcsType" serializeAs="String">
                <value>git</value>
            </setting>
            <setting name="SvnRepo" serializeAs="String">
                <value />
            </setting>
            <setting name="SvnUser" serializeAs="String">
                <value />
            </setting>
            <setting name="SvnPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SvnStandardLayout" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SvnTrunk" serializeAs="String">
                <value>trunk</value>
            </setting>
            <setting name="SvnTags" serializeAs="String">
                <value>tags</value>
            </setting>
            <setting name="SvnBranches" serializeAs="String">
                <value>branches</value>
            </setting>
            <setting name="ResetRepo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SvnProjectPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSettingsFile" serializeAs="String">
                <value />
            </setting>
        </Hpdi.Vss2Git.Properties.Settings>
    </userSettings>
</configuration>
